extends layout

block content
  .container
    if (!user)
      a(href="/login") Login
      br
      a(href="/register") Register
      script.
        localStorage.clear()
    if (user)
      img(src="#{user.img}")
      p You are currently logged in as #{user.username} your balance #{user.balance}$
      a(href="/coinflip") coinflip  
      a(href="/logout") Logout


