doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://code.jquery.com/jquery.js')
    script(src="https://cdn.socket.io/socket.io-1.4.5.js")
    script.
      var socket = io()
  body
    if (error && error.length > 0)
      br
      h4.error-msg= error
      br

    block content